.w3-theme-l5 {color:#000 !important; background-color:#fefbf1 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fcf3cf !important}
.w3-theme-l3 {color:#000 !important; background-color:#f9e79f !important}
.w3-theme-l2 {color:#000 !important; background-color:#f7db6e !important}
.w3-theme-l1 {color:#000 !important; background-color:#f4cf3e !important}
.w3-theme-d1 {color:#000 !important; background-color:#d9b00d !important}
.w3-theme-d2 {color:#fff !important; background-color:#c19c0b !important}
.w3-theme-d3 {color:#fff !important; background-color:#a9890a !important}
.w3-theme-d4 {color:#fff !important; background-color:#917508 !important}
.w3-theme-d5 {color:#fff !important; background-color:#786207 !important}

.w3-theme-light {color:#000 !important; background-color:#fefbf1 !important}
.w3-theme-dark {color:#fff !important; background-color:#786207 !important}
.w3-theme-action {color:#fff !important; background-color:#786207 !important}

.w3-theme {color:#000 !important; background-color:#f1c40f !important}
.w3-text-theme {color:#f1c40f !important}
.w3-border-theme {border-color:#f1c40f !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#f1c40f !important}
.w3-hover-text-theme {color:#f1c40f !important}
.w3-hover-border-theme:hover {border-color:#f1c40f !important}
